.economic-table table {
    margin-top: 2rem!important;
}


.economic-table td:nth-child(2) {
    text-align: right; /* Alinea la segunda columna (Resultado del Ejercicio) a la derecha */
}


.contract-table tr[data-num-contratos="0"] {
    background-color: #d3d3d3; /* Fondo gris claro */
  }
  
  .contract-table td:nth-child(2) {
    text-align: right; /* Alinea el contenido de la segunda columna a la derecha */
  }
  
  .contract-table th {
    text-align: center; /* Centra los encabezados */
  }
  
  .contract-table td {
    padding: 8px; /* Añade padding para mejor legibilidad */
  }

/* Fondo gris para tablas con 0 contratos (aplicado manualmente a pestañas conocidas) */
div.no-header-table starlight-tabs  table  th {
    display: none;
  }

/* Estilos para las tablas dentro de los Tabs de Starlight */
starlight-tabs table {
  width: 100%; /* Ocupa el 100% del espacio disponible */
  border-collapse: collapse;
  margin: 1rem 0;
  display: inline-table;
}

starlight-tabs table td {
  padding: 0.75rem; /* Aumenta el padding para mejor espaciado */
}


/* Alinear el texto de la segunda columna a la derecha */
starlight-tabs table td:nth-child(2) {
  text-align: right;
}


.three-card-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
  margin: 2rem 0;
}

@media (max-width: 768px) {
  .three-card-grid {
    grid-template-columns: 1fr;
  }
}

.logo-animation {
  opacity: 0;
  transform: translateY(-20px); /* Comienza 20px arriba */
  animation: fadeInUp 0.8s ease-out forwards;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(-20px); /* Estado inicial: 20px arriba */
  }
  100% {
    opacity: 1;
    transform: translateY(0); /* Desciende a la posición original */
  }
}

.last-update {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  border: 0px solid currentColor;
  visibility: hidden; /* oculto hasta que empiece la animación */
  animation: typing 0.3s steps(30, end) 0.2s forwards;
}

/* Animación de escritura */
@keyframes typing {
  0% { width: 0ch; visibility: visible; }
  100% { width: 40ch; visibility: visible; }
}

