/* ==============================
   Tablas económicas y de contratos
============================== */

/* Tabla económica */
.economic-table table {
  margin-top: 2rem !important;
}
.economic-table td:nth-child(2) {
  text-align: right; /* Segunda columna alineada a la derecha */
}

/* Tabla de contratos */
.contract-table tr[data-num-contratos="0"] {
  background-color: #d3d3d3; /* Fondo gris claro para 0 contratos */
}
.contract-table td:nth-child(2) {
  text-align: right; /* Segunda columna alineada a la derecha */
}
.contract-table th {
  text-align: center; /* Encabezados centrados */
}
.contract-table td {
  padding: 8px; /* Padding para mejor legibilidad */
}

/* Tablas dentro de Starlight Tabs */
div.no-header-table starlight-tabs table th {
  display: none; /* Oculta encabezados en tablas específicas */
}

starlight-tabs table {
  width: 100%;
  border-collapse: collapse;
  margin: 1rem 0;
  display: inline-table;
}

starlight-tabs table td {
  padding: 0.75rem; /* Espaciado interno */
}

starlight-tabs table td:nth-child(2) {
  text-align: right; /* Segunda columna alineada a la derecha */
}

/* ==============================
 Grids y layout
============================== */
.three-card-grid {
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  gap: 1.5rem;
  margin: 2rem 0;
}

/* ==============================
   Grids y layout
============================== */
.three-card-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 tarjetas por fila */
  gap: 1.5rem;
  margin: 2rem 0;
}

@media (max-width: 1024px) and (min-width: 769px) {
  .three-card-grid {
    grid-template-columns: repeat(2, 1fr); /* 2 tarjetas por fila en tablets */
  }
}

@media (max-width: 768px) {
  .three-card-grid {
    grid-template-columns: 1fr; /* 1 tarjeta por fila en móviles */
  }
}


@keyframes typing {
  0% { width: 0ch; visibility: visible; }
  100% { width: 40ch; visibility: visible; }

}

.contact-list {
  list-style: none;
}